screengu.ru {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }

    request_body {
        max_size 10MB
    }

    reverse_proxy localhost:8000
}

www.screengu.ru {
    redir https://screengu.ru{uri} 308
}

dev.screengu.ru {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }

    request_body {
        max_size 10MB
    }

    reverse_proxy localhost:8888
}